#doc-viewer {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  section {
    h2,
    h3 {
      scroll-margin-top: 1em;
    }

    h2 {
      border-bottom: 1px dashed rgb(from var(--nav-active-text-color) r g b);

      &:not(:first-child) {
        margin-top: 4em;
      }
    }

    h3 {
      font-size: 1.3em;

      &:not(:empty) {
        margin-bottom: 1em;

        &:not(h2 + h3) {
          margin-top: 2.5em;
        }

        &:before {
          content: '➤ ';
        }
      }
    }

    p {
      line-height: 1.7em;

      img {
        width: 100%;

        &[data-clickable='true'] {
          cursor: zoom-in;
        }
      }
    }

    > p {
      &:last-child {
        margin-bottom: 3em;
      }
    }

    blockquote {
      margin-left: 0;
      border-left: 5px solid var(--nav-active-text-color);
      padding-left: 1em;
      opacity: 0.6;

      > p {
        margin: 0.5em 0;
        font-size: 0.9em;
      }
    }

    ul,
    ol {
      li {
        opacity: 0.5;
        line-height: 2em;
        font-size: 0.9em;
      }
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
    margin: 1rem auto;

    th,
    td {
      padding: 0.5em 1rem;
    }

    thead {
      th {
        border-bottom: 1px solid rgb(from var(--nav-active-text-color) r g b / 0.75);
        color: var(--nav-active-text-color);
      }
    }

    tbody {
      td {
        vertical-align: top;
        border-bottom: 1px solid rgb(from var(--nav-active-text-color) r g b / 0.25);
      }
    }
  }

  footer {
    order: 999;
    margin: auto -3rem 0;

    > hr {
      height: 3rem;
      border: none;
    }

    > div {
      padding-top: 2rem;
      padding: 1rem 2rem;
      background-color: rgba(#000, 0.2);

      p {
        font-size: 0.9em;
        line-height: 1.2em;

        &:has(small) {
          margin: 0.5em 0;
        }
      }
    }
  }

  > .loading {
    &:after {
      content: '......';
      display: inline-block;
      margin-left: 0.25em;
      animation: dots 5s steps(3, end) infinite;
    }

    @keyframes dots {
      0% {
        content: '......';
      }
      10% {
        content: '';
      }
      20% {
        content: '.';
      }
      30% {
        content: '..';
      }
      40% {
        content: '...';
      }
      50% {
        content: '....';
      }
      60% {
        content: '.....';
      }
      70% {
        content: '......';
      }
      100% {
        content: '......';
      }
    }
  }
}

@media (max-width: 767px) {
  #doc-viewer {
    min-height: calc(100vh - 3rem);

    section {
      h2,
      h3 {
        scroll-margin-top: 3.5em;
      }
    }

    footer {
      margin: auto -2rem 0;

      > hr {
        height: 2rem;
      }
    }
  }
}
