$track-popup-translateX: -3em;

.track-popup-trigger {
  position: relative;
  color: var(--nav-active-text-color);
  cursor: pointer;

  > .music-icon {
    position: absolute;
    top: -0.25em;
    left: -0.65em;
  }
}

.track-popup {
  position: fixed;
  z-index: 999;
  max-width: 400px;
  border: 1px solid var(--nav-active-text-color);
  padding: 0.75em 1em;
  border-radius: 0.5em;
  background-color: var(--nav-bg-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-weight: normal;
  font-size: 0.9em;
  transform: translateX($track-popup-translateX);
  animation: fadeIn 0.15s ease;

  table {
    td {
      vertical-align: top;

      span {
        white-space: nowrap;

        small {
          opacity: 0.5;
        }
      }

      button {
        width: 24px;
        height: 24px;
        margin: 0 0.25em;
        background-color: transparent;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.5);
        }
      }

      &:last-child {
        span {
          display: block;
        }
      }
    }
  }

  &.track-popup-closing {
    animation: fadeOut 0.15s ease forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX($track-popup-translateX) translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateX($track-popup-translateX) translateY(0);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateX($track-popup-translateX) translateY(0);
    }
    to {
      opacity: 0;
      transform: translateX($track-popup-translateX) translateY(-5px);
    }
  }
}
@media (max-width: 767px) {
  .track-popup-trigger {
    > .music-icon {
      display: none;
    }
  }
  
  .track-popup {
    table {
      td {
        button {
          display: none;
        }
      }
    }
  }
}
