#audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 48px;
  border-top: 1px solid var(--player-highlight-color);
  padding: 0 4rem;
  background-color: #dde3e1;
  background-image: linear-gradient(0deg, #272727, #343434);

  > div {
    display: flex;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
  }

  span {
    color: #fff;
    font-size: 0.8em;
    white-space: nowrap;
  }

  .audio-player-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-right: 8px;

    button {
      width: 30px;
      height: 30px;
      background-color: transparent;
      opacity: 0.8;
      transition:
        opacity,
        transform 0.2s ease;

      &:hover {
        opacity: 1;
        transform: scale(1.5);
      }
    }
  }

  .audio-player-progress {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
    transform: translateY(2px);

    span {
      margin: 0 8px;

      &:not(&:first-child) {
        opacity: 0.7;
      }
    }

    .audio-player-progress-title {
      width: calc(100% - 96px);
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;

      + div {
        flex: 1;
        display: flex;
        align-items: center;
        transform: translateY(-2px);
      }
    }

    .audio-player-progress-bar {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: rgba(#fff, 0.3);
      cursor: pointer;

      .audio-player-progress-bar-fill {
        width: 0%;
        height: 4px;
        border-radius: 2px;
        background-color: rgba(#fff, 0.7);
      }

      .audio-player-progress-bar-trigger {
        position: absolute;
        top: 50%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: rgba(#fff, 0.9);
        box-shadow: 0 0 6px var(--player-highlight-color);
        transform: translateX(-50%) translateY(-50%);
      }

      > div {
        width: 100%;
      }

      + span {
        transform: translateY(-2px);
      }
    }
  }

  .audio-player-tools {
    display: flex;
    align-items: center;

    button,
    img {
      width: 20px;
      height: 20px;
    }

    button {
      margin: 0 4px;
      background-color: transparent;
      opacity: 0.7;

      &:hover,
      &.active {
        &:not(&.no-hover) {
          opacity: 1;
        }
      }

      &.audio-player-tools-volume {
        &.mute {
          opacity: 0.2;
        }
      }
    }

    span {
      margin: 0 4px;
    }
  }

  .audio-player-playlist {
    position: fixed;
    bottom: 48px;
    right: 0;
    width: 360px;
    height: 160px;
    overflow: hidden auto;
    border-top-left-radius: 24px;
    background-color: #000;
    background-size: auto;
    background-position: 110% center;
    background-repeat: no-repeat;
    box-shadow: -2px -2px 6px rgba(#000, 0.5);
    color: #eee7c3;
    scrollbar-width: none;
    scrollbar-color: transparent transparent !important;
    transform: translateX(360px);
    transition: transform 0.3s ease;

    .audio-player-playlist-content {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden auto;
      background-image: radial-gradient(circle at 80% 50%, rgba(#000, 0.3) 0%, #000 55%);

      > div {
        position: absolute;
        width: 100%;
        margin-top: 4px;
        overflow-y: auto;

        > span {
          display: flex;
          align-items: center;
          width: 100%;
          margin: 0 auto;
          padding-left: 20px;
          line-height: 2em;
          cursor: pointer;

          > span {
            color: #bbbbbb;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &:before {
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            margin-right: 6px;
            border-radius: 50%;
            background-color: var(--player-highlight-color);
            box-shadow: 0 0 2px #fff;
            visibility: hidden;
          }

          &:nth-child(odd) {
            background-color: rgba(#000, 0.3);
          }

          &:hover,
          &.active {
            > span {
              color: var(--player-highlight-color);
            }
          }

          &.active {
            font-weight: bold;

            &:before {
              visibility: visible;
              animation: blink 2s infinite;

              @keyframes blink {
                0%,
                100% {
                  opacity: 1;
                }

                50% {
                  opacity: 0.2;
                }
              }
            }
          }
        }
      }
    }

    &.active {
      transform: translateX(0);
    }
  }
}

@media (max-width: 767px) {
  #audio-player {
    display: none;
  }
}
