main {
  display: flex;
  height: 100vh;
  overflow: hidden;

  > aside {
    width: 240px;
    border-right: 1px solid #919191;
    padding: 12px;
    overflow: auto;

    ul {
      list-style: none;
      padding-left: 0;

      li {
        margin: 4px 0;
        padding: 8px 16px;
        border-radius: 8px;
        cursor: pointer;

        &.active {
          background-color: #919191;
        }
      }
    }
  }

  > article {
    flex: 1;
    overflow: auto;
    padding: 48px;
  }
}
