#meta-info {
  width: 300px !important;
  padding-top: 3rem !important;

  img {
    display: block;
    margin: 1rem auto 1rem;

    + span {
      display: block;
      color: var(--nav-active-text-color);
      text-align: center;
      text-decoration: none;
    }
  }

  .meta-table {
    margin: 1rem 0;

    td {
      font-size: small;
    }

    + div {
      display: flex;

      > a {
        flex: 1;
        display: block;
        margin: 0 0.5rem;
        padding: 0.5em 1em;
        border-radius: 1rem;
        background-color: var(--nav-active-text-color);
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: small;
      }
    }
  }

  .meta-catalog {
    margin-top: 2rem;
    border-top: 1px solid var(--nav-active-text-color);
    padding-top: 2rem;

    ul {
      margin: 0.25rem 0;
      padding-left: 1.5em;
    }

    a {
      display: block;
      color: var(--nav-active-text-color);
      line-height: 2em;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 1023px) {
  #meta-info {
    display: none;
  }
}
