#side-nav {
  display: flex;
  flex-direction: column;
  width: var(--side-nav-width);
  height: 100%;
  border-right: 2px solid var(--nav-active-text-color);
  padding: 1rem 1rem 4rem;

  h1 {
    border-bottom: 1px solid var(--nav-active-text-color);
    margin: 0;
    padding: 0.5em 0;
    color: var(--nav-active-text-color);
    font-size: 1.5em;
    text-align: center;
  }

  nav {
    a {
      display: block;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover,
      &.active {
        color: var(--nav-active-text-color);
      }

      &.active {
        font-weight: bold;
      }
    }

    &.nav-main {
      flex: 0 1 auto;
      border-bottom: 1px solid rgb(from var(--nav-active-text-color) r g b / 0.3);
      padding: 1rem 0 0.5rem;
      overflow-y: auto;
      background:
        linear-gradient(var(--nav-bg-color) 30%, transparent),
        linear-gradient(transparent, var(--nav-bg-color) 70%) 0 100%,
        radial-gradient(
            farthest-side at 50% 0,
            rgb(from var(--nav-active-text-color) r g b / 0.2),
            transparent
          )
          0 0,
        radial-gradient(
            farthest-side at 50% 100%,
            rgb(from var(--nav-active-text-color) r g b / 0.2),
            transparent
          )
          0 100%;
      background-repeat: no-repeat;
      background-size:
        100% 24px,
        100% 24px,
        100% 12px,
        100% 12px;
      background-attachment: local, local, scroll, scroll;
      scrollbar-width: none;
    }

    &.nav-bottom {
      flex-shrink: 0;
      margin: 0.5rem 0 2rem;
    }
  }

  button {
    display: none;
  }
}

@media (max-width: 767px) {
  #side-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: unset;
    border: none;
    padding: 0;

    h1 {
      position: relative;
      margin: 0;
      padding: 0.5em 1em;
      text-align: left;
      font-size: 1.2em;
    }

    nav {
      margin: 0 !important;
      padding: 0 !important;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;

      a {
        margin: 0.5rem;
      }

      &.nav-bottom {
        box-shadow: 0 4px 8px rgba(#000, 0.5);
      }
    }

    button {
      display: flex;
      position: fixed;
      top: 0;
      right: 0.5rem;
      width: 3rem;
      height: 3rem;
      background-color: transparent;
      color: var(--nav-active-text-color);
      font-size: 1.5em;

      &:focus {
        ~ nav {
          max-height: 999px;

          &:last-child {
            border-bottom: 1px solid var(--nav-active-text-color);
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #side-nav {
    nav {
      font-size: 85%;
    }
  }
}
